<div class="main-content">
    

        <h2>PolicyPartial</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">ID of the policy</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialName</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Name of the policy</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">policy1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartial</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">policy content</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">xacml policy implementation</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>isSharedPartial</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">whether shared or not</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#boolean">boolean</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">true/false</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialDesc</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">description about the policy</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
