<div role="navigation" class="navbar navbar-inverse container-header">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{url "/"}}" class="navbar-brand"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#each typeList}}
                    {{#compare this "webapp" operator="=="}}
                        <li>
                            <a href="{{url "/assets/webapp/"}}"><i class="icon-globe icon"></i> Web Applications</a>
                        </li>
                    {{else}}
                    {{/compare}}
                    {{#compare this "mobileapp" operator="=="}}
                        <li class="active">
                            <a href="{{url "/assets/mobileapp/"}}"><i class="icon-mobile-phone"></i> Mobile Applications</a>
                        </li>
                    {{else}}
                    {{/compare}}
                {{/each}}
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>
                        {{#ifCond cuser.tenantDomain "==" "carbon.super"}}
                            {{cuser.username}}
                        {{else}}
                            {{cuser.username}}@{{cuser.tenantDomain}}
                        {{/ifCond}}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-account" role="menu" aria-labelledby="dLabel">
                            <li>
                                <a onclick="window.location.href='{{url "/logout"}}'" href="#"><i class="icon-signout"></i>{{t "Sign out"}}</a>
                            </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

