<div class="main-content">
    <h1><a name="StatsApi"></a>StatsApi</h1>

    
        
            <hr/>
            <h3 class="operation-heading"><a name="appsAppTypeStatsStatTypeGet"></a>Get stat summary</h3>

            <p class="marked"></p>

            <p class="marked">Get stat summary results.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/publisher/v1.1/apps/{appType}/stats/{statType}</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer ede4387e36fbf87c802026f1240b7e5d&quot; &quot;http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/stats/getAppUsagePerPage&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-appsAppTypeStatsStatTypeGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-appsAppTypeStatsStatTypeGet" class="pre collapse"><code class="json">{&quot;result&quot;: [{&quot;apiName&quot;: &quot;TravelBooking_admin(v1.0.0)&quot;,&quot;referer&quot;: &quot;/travel/1.0.0/booking-step2.jsp&quot;,&quot;userId&quot;: &quot;subscriber_admin&quot;,&quot;version&quot;: &quot;1.0.0&quot;,&quot;count&quot;: 15,&quot;context&quot;: &quot;/travel&quot;},{&quot;apiName&quot;: &quot;TravelBooking_admin(v1.0.0)&quot;,&quot;referer&quot;: &quot;/travel/1.0.0/booking-step1.jsp&quot;,&quot;userId&quot;: &quot;subscriber_admin&quot;,&quot;version&quot;: &quot;1.0.0&quot;,&quot;count&quot;: 20,&quot;context&quot;: &quot;/travel&quot;},{&quot;apiName&quot;: &quot;PlanYourTrip_admin(v1.0.0)&quot;,&quot;referer&quot;: &quot;/planYourTrip/1.0.0&quot;,&quot;userId&quot;: &quot;subscriber_admin&quot;,&quot;version&quot;: &quot;1.0.0&quot;, &quot;count&quot;: 10, &quot;context&quot;: &quot;/planYourTrip&quot;}]}</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The App type (either Webapp/Mobile app).</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>statType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The stat type.\n\n\n\n\nSupported stat types are [**getAppUsagePerPage, getSubscriptionCountsPerApp, getSubscriptionsPerApp, getAppUsagePerUser, getAppResponseTime, getCacheHit**]</p>
                            
                                <p><b>Accepted values: </b></p>

<code>getAppUsagePerPage</code>

<code>getSubscriptionCountsPerApp</code>

<code>getSubscriptionsPerApp</code>

<code>getAppUsagePerUser</code>

<code>getAppResponseTime</code>

<code>getCacheHit</code>

                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            <span class="param-in">Query </span>
                            
                            
                            
                        </td>
                        <td class="param-name">
                            <p>startTimeStamp</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The start date and time of the stat analysis in the following format: 2016-04-19 10:32:00</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            <span class="param-in">Query </span>
                            
                            
                            
                        </td>
                        <td class="param-name">
                            <p>endTimeStamp</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The end date and time of the stat analysis in the following format: 2016-04-19 10:32:00</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            <span class="param-in">Query </span>
                            
                            
                            
                        </td>
                        <td class="param-name">
                            <p>limit</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The limit of the number of records.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                Integer
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#StatSummary">StatSummary</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
    
</div>
