{{!-- header --}}
<header class="header header-default">
    <input type="hidden" value="{{storeTenantDomain}}" id="store-tenant-domain" />
    <input type="hidden" name="tenant-store" id="user-tenant-id" value="{{user.tenantId}}">
    <input type="hidden" name="tenant-store" id="user-name" value="{{user.username}}">
    <input type="hidden" name="logged-in-user-tenant-domain" id="logged-in-user-tenant-domain" value="{{user.tenantDomain}}">

    <div class="container-fluid">
        <div class="brand pull-left float-remove-xs text-center-xs">
            <a href="{{url "/"}}">
                <img src="{{customThemeUrl "/img/app-store-logo.png"}}" alt="apps-store"
                     title="apps-store" class="logo" />

                <h1 class="display-block-xs">APP Store</h1>
            </a>
        </div>
        <div class="auth remove-margin-right pull-right float-remove-xs text-center-xs">
            {{#if user}}
                <a href="#" class="dropdown" data-toggle="dropdown">
                    <span class="hidden-xs add-padding-left-3x">{{user.username}}<span class="caret"></span></span>
                    <span class="icon fw-stack fw-lg"><i class="fw fw-user fw-stack-1x"></i></span>
                </a>
                <ul class="dropdown-menu float-remove-xs position-static-xs text-center-xs remove-margin-xs"
                    role="menu">
                    <li class="dropdown-header visible-xs">{{user.username}}<span class="caret"></span></li>
                    <li class="divider visible-xs"></li>
                    <li><a href="{{url "/logout"}}">{{t "Sign Out"}}</a></li>
                </ul>
            {{else}}
                {{#unless hideLogin}}
                    {{#if sso}}
                        <a href="{{tenantedUrl "/login?header=true"}}" class="header-action">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{else}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#modal-login">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{/if}}
                    {{#if isSelfSignUpEnabledForTenant}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#register-modal">
                            <span class="icon"><i class="fw fw-sign-up add-padding-right-1x"></i></span>
                            <span class="text-uppercase">register</span>
                        </a>
                        {{>register}}
                    {{/if}}
                {{/unless}}
            {{/if}}
        </div>
    </div>
</header>

{{!-- navbar --}}
{{#unless hideNavBar}}
    <nav class="actions-bar navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    {{#if isTenanted}}
                        <li class="dropdown">
                            <a href="{{url "/"}}">
                                <i class="fw fw-organization add-margin-right-1x"></i>
                                Public Store
                            </a>
                        </li>
                    {{/if}}

                    <li class="{{#ifCond active "==" "store" }}active{{/ifCond}}">
                        <a id="store-link" href="{{tenantedUrl "/"}}">
                            <span class="icon add-margin-right-1x"><i class="fw fw-organization fw-lg"></i></span>Store
                        </a>
                    </li>

                    {{#if user}}
                        {{#unless hideFavouriteMenu}}
                    <li class="{{#ifCond active "==" "favourite" }}active{{/ifCond}}">
                        <a href="{{tenantedUrl "/assets/favourite"}}">
                            <span class="icon add-margin-right-1x"><i class="fw fw-heart fw-lg"></i></span>Favourites
                        </a>
                    </li>
                        {{/unless}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
{{/unless}}
